<app-header></app-header>
<main>
  <h2>Solicitações</h2>
  <section id="solicitacoes">
    <div class="soliCards">
      <div class="foto">
        <img src="../../assets/Imagens/DesenhoAluno.svg">
      </div>
      <div class="interesses">
        <div>
          <span class="nomeInt">Aluno:</span>
          <span>X</span>
        </div>
        <div>
          <span class="nomeInt">Interesse:</span>
          <span>Java</span>
        </div>
      </div>
      <div class="data">
        <div>
          <span class="nomeInt">Data:</span>
          <span>20/12/2022</span>
        </div>
      </div>
      <div class="botoes">
        <button class="botaoAceitar">Aceitar</button>
      </div>
    </div>
  </section>
</main>
<app-retornar></app-retornar>
