<app-header></app-header>
<main>
  <h2>Encontre seu Tutor!</h2>
  <section id="busca">
    <div class="buscaCards">
      <div class="foto">
        <img src="../../assets/Imagens/DesenhoAluno.svg">
      </div>
      <div class="qualificacoes">
        <div>
          <span class="nomeQua">Tutor:</span>
          <span>Junior</span>
        </div>
        <div>
          <span class="nomeQua">Skill:</span>
          <span>Java</span>
        </div>
      </div>
      <div class="descricao">
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam est nisi rerum.
        </span>
      </div>
      <div class="botoes">
        <button class="botaoSolicitar">Solicitar Aula</button>
        <button routerLink="../perfil-tutor-aluno" class="botaoPerfil">Perfil</button>
      </div>
    </div>
  </section>
</main>
<app-menu-filtro></app-menu-filtro>
