<mat-card class="menu">
  <div>
    <img class="imgMenu" src="../../assets/Imagens/MiniPerfil.svg">
    <span>Editar Perfil</span>
  </div>
  <div class="clickLink" routerLink="../inicio-aluno">
    <img class="imgMenu" src="../../assets/Imagens/MiniPerfil.svg">
    <span>Tutores</span>
  </div>
  <div class="clickLink" routerLink="../historico-aluno">
    <img class="imgMenu" src="../../assets/Imagens/MiniHistorico.svg">
    <span>Historico</span>
  </div>
</mat-card>
<div class="menuTitulo">Menu</div>
<mat-card class="filtro">
  <section class="filtroSec1">
    <div>
      <img src="../../assets/Imagens/Lupa.svg">
      <input type="text" placeholder="Busca">
    </div>
    <div>
      <img src="../../assets/Imagens/Sanduiche.svg">
      <select>
        <option>Java</option>
        <option>Kotlin</option>
        <option>C#</option>
      </select>
    </div>
  </section>
  <section class="filtroSec2">
    <div class="filtroCards">
      <span>Java</span>
      <img src="../../assets/Imagens/X.svg">
    </div>
    <div class="filtroCards">
      <span>Kotlin</span>
      <img src="../../assets/Imagens/X.svg">
    </div>
    <div class="filtroCards">
      <span>C#</span>
      <img src="../../assets/Imagens/X.svg">
    </div>
  </section>
</mat-card>
<div class="filtroTitulo">Filtros e Busca</div>
