<app-header></app-header>
<main>
  <h2 id="titulo">Perfil</h2>
  <section>
    <div id="centro">
      <div id="foto">
        <img src="../../assets/Imagens/Foto.svg">
      </div>
      <div id="info">
        <h2>Julior Koi</h2>
        <h3>Desenvolvedor back-end | JavaScript | Phyton</h3>
      </div>
    </div>
    <div id="botoes">
      <div routerLink="../inicio-tutor" id="retornar">
        <img id="seta" src="../../assets/Imagens/Seta.svg">
        <span>Retornar</span>
      </div>
      <button id="botaoEditar">Editar</button>
    </div>
  </section>
</main>
