<app-header></app-header>
<main>
  <h2>Bem-vindo Tutor!</h2>
  <section>
    <div routerLink="../perfil-tutor" id="div1">
      <img src="../../assets/Imagens/Perfil.svg">
      <span>Perfil</span>
    </div>
    <div routerLink="../historico-tutor" id="div2">
      <img src="../../assets/Imagens/Historico.svg">
      <span>Historico de Aulas</span>
    </div>
    <div routerLink="../solicitacoes" id="div3">
      <img src="../../assets/Imagens/Solicitacoes.svg">
      <span>Solicitações</span>
    </div>
  </section>
</main>
